# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
SERVER_PORT="8081"            # The port your server will listen on
SERVER_HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# RabbitMQ 
RABBITMQ_URL="amqp://localhost"

# Postgres Database Configuration
POSTGRES_USER="postgres" 
POSTGRES_PASSWORD="password"
POSTGRES_HOST="localhost"
POSTGRES_DB="history_service"
POSTGRES_PORT="5432"

# PostgreSQL Connection URL
# Use the following line for connecting to PostgreSQL
POSTGRES_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

